/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  --header-height: 175px;
  --sidebar-bg: #1992d4;
  --header-bg: #fff;
  --project-bg: #e2e8f0;
  --lightGrey: #e2e8f0;
  --nav-hover-color: #0e5981;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
  grid-template-areas:
    'sidebar header'
    'sidebar projects';
}

.sidebar-container {
  grid-area: sidebar;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
}

.header-container {
  grid-area: header;
  background-color: var(--header-bg);
}

.projects-container {
  grid-area: projects;
  background-color: var(--project-bg);
}

.sidebar-container li {
  list-style-type: none;
}

.sidebar-container .dashboard-title,
.sidebar-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.sidebar-container h3,
.sidebar-container a {
  color: #fff;
}

.sidebar-container .top-nav {
  margin-bottom: 1.5rem;
}

.sidebar-container a {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.sidebar-container a:hover {
  background-color: var(--nav-hover-color);
}

.dashboard-title {
  border: 1px red solid;
}

.top-nav {
  border: 1px red solid;
}

.bottom-nav {
  border: 1px red solid;
}